body {
  font-family: Roboto;
  margin: 0 50px;
}

@font-face {
  font-family: productsans;
  src: url(media/productsans/ProductSansRegular.ttf);
}

.google {
  text-align: center;
  font-size: 90px;
  font-weight: bolder;
}

nav ul li {
  display: inline;
  padding: 10px;
  background-color: azure;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li {
  display: inline;
  padding: 10px;
}

#blueg {
  color: rgb(0, 89, 255);
  margin-left: -20px;
  font-family: "productsans";
}

#redo {
  color: rgba(255, 38, 0, 0.89);
  margin-left: -20px;
}

#bluegg {
  color: rgb(0, 89, 255);
  margin-left: -20px;
}

#yellowo {
  color: yellow;
  margin-left: -20px;
}

#greenl {
  color: green;
  margin-left: -20px;
}

#rede {
  color: rgba(255, 38, 0, 0.89);
  margin-left: -20px;
}

nav {
  /* float: right; */
  font-size: 14px;
  position: relative;
  left: 1000px;
}

.signin {
  background-color: blue;
  padding: 7px 22px;
  border-radius: 5px;
}

.box1 {
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: -70px;
  width: 500px;
  height: 40px;
  border: solid 1px grey;
  background-image: url(media/loupe.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.box1:hover {
  box-shadow: 3px 3px 3px grey;
}

.signin a {
  color: white;
}
